.container {
  display: grid;
  gap: 1%;
  grid-template-areas: 
  "header"
  "main"
  "footer";

}

.header {
  grid-area: header;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 2%;
  color: black;
  text-decoration: none;
  font-family: "Arial black", 'gadget', sans-serif;
  text-transform: uppercase; 
  font-size: 14px;
}

.header:hover {
  color: #0ca49c;
}

.main {
  grid-area: main;
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.main h1 {
  background-color: rgb(37, 37,37);
  color: white;
  font-family: 'Poller One', cursive;
  text-transform: uppercase;
  padding: 10px 10px 10px;
  font-size: 20px;
}

.mustache {
  border: solid black;
  padding-bottom: 5%;
  margin-bottom: 3%;


}

.main img {
  width: 450px;
  padding-bottom: 0%;
  opacity: 0.7;
}

.main img:hover {
  opacity: 1;
}

.main h2 {
  color: black;
  font-family: "Arial black", 'gadget', sans-serif;
  font-size: 25px;
  text-align: center;
  margin-top: 2%;
  padding-top: 0%;
}

.main p {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 175%;
  text-align: center;
}

.button {
color: white;
background-color: black;
border: none;
padding: 2px 20px 2px;
font-family: "Arial black", 'gadget', sans-serif;
font-size: 18.5px;
text-decoration: none;
}

.button:hover {
  color: black;
  background-color: white;
  border: solid black;
  border-width: 2px;
}

a {
  color: black;
}

.footer {  
    grid-area: footer;
    justify-content: space-around;
    display: flex;
    background-color: rgb(37, 37, 37);
    color: white;
    margin-bottom: 2.3%;
    padding: 36px 0px 42px;
    }
  
.footer p { 
      
      background-color: #252525;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
}   

  
.fa:hover { 
  opacity: 0.7;
}

.fa-twitter {
  background-color: #55ACEE;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;  
}

.fa-google {
  background: #dd4b39;
  color: white;       
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}


@media(min-width: 576px) {

}





@media(min-width: 992px) {
  .container {  
      display: grid;
      gap: 0%;
      grid-template-areas:
      "header header"
      "main main"
      "footer footer";
}

.header {
  margin: 35px 20px 40px;
}
.main {
margin-bottom: 5%;

}
.main h1 {
  margin-top: 0%;
  padding: 10px 28px 10px;
  font-size: 20px;
  font-size: 35px;
  display: inline-block;
}

.main img {


  border: solid black;
  border-right-width: 2px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  width: 100%;
}

.main h2 {
  font-size: 22px;
  padding-top: 8%;
  
  
}

.main p {
  font-size: 14px;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.mustache {
  display: grid;
  gap: 0%;
  width: 900px;
  margin-left: 18%; 
  padding-bottom: 0%;   grid-template-areas:
      "column1 column2"
      "column1 column2"
      "column1 column2";  
  }


.footer p { 
  font-size: 14px;
}   

.fa {
      padding: 30px;
}
}
.fa:hover { 
  opacity: 0.7;
}

.fa-twitter {
  background-color: #55ACEE;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;  
}

.fa-google {
  background: #dd4b39;
  color: white;       
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}