.container {
    display: grid;
    gap: 1%;
    grid-template-areas: 
    "header"
    "main"
    "footer";

}

.header {
    grid-area: header;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2%;
    color: black;
    text-decoration: none;
    font-family: "Arial black", 'gadget', sans-serif;
    text-transform: uppercase; 
    font-size: 14px;
}

.header:hover {
    color: #0ca49c;
}

.main {
    grid-area: main;
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.main h1 {
    background-color: rgb(37, 37,37);
    color: white;
    font-family: 'Poller One', cursive;
    text-transform: uppercase;
    padding: 10px 10px 10px;
    font-size: 20px;
    margin-bottom: 5%;
}

.main img {
    width: 450px;
    padding-top: 0%;
    padding-bottom: 0%;
    border: solid black;
    border-width: 2px;
}

.main h2 {
    color: black;
    font-family: "Arial black", 'gadget', sans-serif;
    font-size: 18px;
    text-align: center;
    padding-top: 2%;
}

.main p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 175%;
    text-align: center;
    padding-top: 3%;
}

a {
    color: black;
}

.footer { 
    grid-area: footer;
    justify-content: space-around;
    display: flex;
    background-color: rgb(37, 37, 37);
    color: white;
    margin-bottom: 2.3%;
    padding: 20px 0px 20px;
}
    
.footer p { 
        
        background-color: #252525;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
}   
    
        

.fa-twitter {
    background-color: #55ACEE;
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;  
}

.fa-google {
    background: #dd4b39;
    color: white;       
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

@media(min-width: 576px ) {

}


@media(min-width: 992px) {
    .container {  
        display: grid;
        gap: 0%;
        grid-template-areas:
        "header header"
        "main main"
        "footer footer";
}

.header {
    margin: 35px 20px 40px;
}

.main {
margin-bottom: 5%;

}

.main h1 {
    margin-top: 0%;
    padding: 10px 28px 10px;
    font-size: 20px;
    font-size: 35px;
    display: inline-block;
}

.main img {

    width: 1000px;
    height: auto; 
    border: solid black;
    border-width: 2px;
}

.main h2 {
    font-size: 25px;
    padding-top: 1%;
    padding-bottom: 0%;
}

.main p {
    font-size: 14px;
    margin-left: 29%;
    margin-right: 29%;
    padding-top: 0%;
    padding-bottom: 0%;
    text-align: center;
}

.footer p { 
    font-size: 14px;
}   

.fa {
        padding: 30px;
}
.fa:hover { 
    opacity: 0.7;
}

.fa-twitter {
    background-color: #55ACEE;
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;  
}

.fa-google {
    background: #dd4b39;
    color: white;       
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

}
