.main {
    display: grid;
    grid-template-areas:
    "header header"
    "gallery gallery"
    "stache1 stache2"
    "stache3 stache4"
    "stache5 stach6"
    "stache7 stache8"
    "stache9 ."
    "footer footer";
}

.header {
grid-area: header;
margin-left: auto;
margin-right: auto;
text-align: center;
margin-top: 2%;
color: black;
text-decoration: none;
font-family: "Arial black", 'gadget', sans-serif;
text-transform: uppercase; 
font-size: 14px;
}

.header:hover {
color: #0ca49c;
}

.gallery {
background-color:rgb(37, 37, 37);
color: white;
margin-bottom: 4%;
padding: 10px 5px 10px;
font-family: 'Poller One', cursive;
text-transform: uppercase;
font-size: 20px;
text-align: center;
margin-top: 6%;
}

.main {
column-gap: 0px;

}
.main img {
border: solid black;
min-width: fit-content;
min-height: fit-content;
opacity: 0.7;
}

img:hover {
opacity: 1;

}

.footer { 
grid-area: footer;
justify-content: space-around;
display: flex;
background-color: rgb(37, 37, 37);
color: white;
margin-bottom: 2.3%;
padding: 20px 0px 20px;
}

.footer p { 
    
background-color: #252525;
color: white;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
}   

.fa {
padding: 10px;
text-align: center;
text-decoration: none;
width: auto;
height: auto; 
color: white;
background-color: rgb(37, 37, 37);
border: solid white;
}

.fa:hover { 
background-color: white;
color: black;
border: solid black    
}

@media (min-width: 576px) {
}

.footer p { 
    
    background-color: #252525;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    
}   

    .fa {
        padding: 20px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
}

.fa:hover { 
    opacity: 0.7;
}

.fa-twitter {
    background-color: #55ACEE;
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;  
}

.fa-google {
    background: #dd4b39;
    color: white;       
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}


@media (min-width: 992px) {
.main {
display: grid; 
grid-template-areas: 
"header header header"
"gallery gallery gallery"
"stache1 stache2 stache3"
"stache4 stache5 stach6"
"stache7 stache8 stache9"
"footer footer footer";
margin-left: auto; 
margin-right: auto;   
}

.header {
margin: 35px 20px 40px;
}

.gallery {
font-size: 35px;
display: inline-block;
text-align: center;
margin-top: 0%;
padding: 10px 28px 10px;
margin-bottom: 2%;
}

.gallery-container {
width: 100vw;
display: flex;
justify-content: center;
margin-left: -12px;
}

.main { 
max-width: 50%;
justify-content: center;
}

.stache {
padding: 15px;
}

.footer p { 
font-size: 14px;
}   

.fa {
padding: 30px;
}
}