.container {
    display: grid; 
    grid-template-areas: 
        "header"
        "body"
        "images"
        "footer"; 
}

.header {
    grid-area: header;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 3%;
    color: black;
    text-decoration: none;
    font-family: "Arial black", 'gadget', sans-serif;
    word-spacing: 25px;
    text-transform: uppercase;
    text-size-adjust: 30px;   
}

.header:hover {
    color: #0ca49c;
}

h1 {
    grid-area: header;
    background-color: black;
    color: white;
    text-align: left;
    margin-bottom: 4%;
    padding: 15px 28px 12px;
    font-family: 'Poller One', cursive;
    display: inline-block;
}

.images {
    text-align: center;
}

.footer { 
    grid-area: footer;
    justify-content: space-around;
    display: flex;
    background-color: rgb(37, 37, 37);
    color: white;
    margin-bottom: 2.3%;
    padding: 36px 0px 42px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
}
    
.fa:hover { 
    opacity: 0.7;
}
    
.fa-twitter {
    background-color: #55ACEE;
    color: white;
}
    
.fa-facebook {
    background: #3B5998;
    color: white;  
}
    
.fa-google {
    background: #dd4b39;
    color: white;       
}
    
.fa-pinterest {
    background: #cb2027;
    color: white;
}


@media (min-width: 576px)
 {



 }
  @media (min-width: 992px)
{

    .container {
        display: grid; 
        grid-template-areas: 
            "header"
            "body"
            "images"
            "footer"; 
    }
    
    .header {
        grid-area: header;
        text-align: center;
        margin-bottom: 2%;
        margin-top: 3%;
        color: black;
        text-decoration: none;
        font-family: "Arial black", 'gadget', sans-serif;
        word-spacing: 25px;
        text-transform: uppercase;
        text-size-adjust: 30px;   
    }
    
    .header:hover {
        color: #0ca49c;
    }
    
    h1 {
        grid-area: body;
        background-color: black;
        color: white;
        text-align: left;
        margin-bottom: 4%;
        padding: 15px 28px 12px;
        font-family: 'Poller One', cursive;
        display: inline-block;
    }
    
    .images {
        text-align: center;
    }
    
    .footer { 
        grid-area: footer;
        justify-content: space-around;
        display: flex;
        background-color: rgb(37, 37, 37);
        color: white;
        margin-bottom: 2.3%;
        padding: 36px 0px 42px;
    }
    
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
    }
        
    .fa:hover { 
        opacity: 0.7;
    }
        
    .fa-twitter {
        background-color: #55ACEE;
        color: white;
    }
        
    .fa-facebook {
        background: #3B5998;
        color: white;  
    }
        
    .fa-google {
        background: #dd4b39;
        color: white;       
    }
        
    .fa-pinterest {
        background: #cb2027;
        color: white;
    }
       

}